<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <p th:text="${welcome}">Welcome to index.</p>

    <form action="/users" method="get">
        <label for="userId">User ID: </label>
        <input id="userId" type="text" name="userId"/>
        <input type="submit" />
    </form>

    <form action="/users" method="post" enctype="application/json">
        <label for="account">Account: </label>
        <input id="account" type="text" name="account"/>
        <label for="avatar">Avatar: </label>
        <input id="avatar" type="text" name="avatar"/>
        <input type="submit" />
    </form>

</body>

</html>
